h1 {
    font-family: Ariel, sans-serif;
    color: rgb(13, 102, 219);
    text-align: center;
    font-family: 'Monoton', cursive;
    font-size: 100px;
    background-color: rgb(127, 183, 233);
}

h2 {
    text-align: center;
    color: green;
    font-weight: bold;
    background-color: purple;
    border: solid 3px black;
}

h5 {
    font-size: 50px;
    color: royalblue;
    font-family: 'Righteous' ;
}

p {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #363237;
    background-color: #d09683;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 450px);
    grid-gap: 20px 20px;
    margin-top: 44px;
    grid-auto-rows: 500px;
    justify-items: center;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    grid-auto-rows: 500px;
    grid-auto-flow: row;
  }

.card-text {
    font-family: 'Times New Roman', Times, serif;
}

.navbar {
    text-align: center;
    justify-items: center;
    justify-content: center;
    align-content: center;

}

.container {
    text-align: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.card {
    margin-bottom: 10px;
}

.card-body {
    color: green;
}